<template>
  <div class="app">
    <Menu :is-logged-in="isLoggedIn" :search-query="searchQuery"/>
    <section class="content">
      <router-view></router-view>
    </section>
    <Player/>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import Menu from '../components/Menu.vue';
  import Player from './Player';

  export default {
    components: {
      Player,
      Menu
    },

    computed: mapGetters({
      isLoggedIn: 'isLoggedIn',
      searchQuery: 'searchQuery'
    })
  }
</script>
