<template>
  <div v-if="!isLoggedIn" class="text-center">
    <div v-if="code">Logging In</div>
    <div v-else>Login Failed</div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import { retrieveTokens } from '../actions';

  export default {
    data() {
      return {
        code: this.$route.query.code
      };
    },

    computed: mapGetters({
      isLoggedIn: 'isLoggedIn'
    }),

    beforeMount() {
      if (this.code) {
        this.$store.dispatch(retrieveTokens, this.code);
      }
    },

    beforeUpdate() {
      if (this.isLoggedIn) {
        this.$router.replace({ name: 'home' });
      }
    }
  }
</script>