<template>
  <PlaylistsPage :playlists="playlists" />
</template>

<script>
  import { mapGetters } from 'vuex';
  import { getPlaylists } from '../actions';
  import PlaylistsPage from '../components/playlists/Page';

  export default {
    name: 'Playlists',

    components: {
      PlaylistsPage
    },

    computed: mapGetters({
      playlists: 'filteredPlaylists',
      query: 'playlistsQuery',
      total: 'playlistsTotal',
      next: 'playlistsNext'
    }),

    beforeMount() {
      this.$store.dispatch(getPlaylists);
    }
  }
</script>