<template>
  <PlayerWidget
      :track="track"
      :on-close="onClose"
  />
</template>

<script>
  import { mapGetters } from 'vuex';
  import PlayerWidget from '../components/PlayerWidget';
  import { dismissPlayer } from '../actions';

  export default {
    name: 'Player',

    components: {
      PlayerWidget
    },

    computed: mapGetters({
      track: 'playerTrack'
    }),

    methods: {
      onClose() {
        this.$store.dispatch(dismissPlayer);
      }
    }
  }
</script>