<template>
  <SearchPage
      :query="query"
      :results="results"
      :total="total"
      :next="next"
      :on-search-query-submit="onSearchQuerySubmit"
      :on-show-more="onShowMore"
      :on-listen-preview="onListenPreview"
  />
</template>

<script>
  import { mapGetters } from 'vuex';
  import SearchPage from '../components/search/Page';
  import { submitSearch, showMoreSearchResults, listenPreview } from '../actions';

  export default {
    name: 'Search',

    components: {
      SearchPage
    },

    computed: mapGetters({
      query: 'searchQuery',
      results: 'searchResults',
      total: 'searchTotal',
      next: 'searchNext'
    }),

    beforeMount() {
      const query = this.$route.query.query;
      if (this.query !== query) {
        this.$store.dispatch(submitSearch, query);
      }
    },

    watch: {
      '$route.query.query'(val) {
        if (this.query !== val) {
          this.$store.dispatch(submitSearch, val);
        }
      }
    },

    methods: {
      onSearchQuerySubmit(query) {
        if (query) {
          this.$router.push({
            name: 'search',
            query: {
              query
            }
          });
        }
      },

      onShowMore(nextLink) {
        this.$store.dispatch(showMoreSearchResults, nextLink);
      },

      onListenPreview(track) {
        this.$store.dispatch(listenPreview, track);
      }
    }
  }
</script>