<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Material+Icons">
    <title>Vuetify</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vuetify doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="root">
      <div class="app">
        <div class="loader">Loading...</div>
      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
