<template>
  <div>
    <h1>Playlists</h1>
    <PlaylistsList :playlists="playlists" />
  </div>
</template>

<script>
  import PlaylistsList from './PlaylistsList'

  export default {
    name: 'PlaylistsPage',
    props: ['playlists'],

    components: {
      PlaylistsList
    }
  }
</script>

<style scoped>

</style>