<template>
  <div class="playlists__list">
    <Playlist
        v-for="playlist in playlists"
        :key="playlist.id"
        :playlist="playlist"
    />
  </div>
</template>

<script>
  import Playlist from './Playlist';

  export default {
    name: 'PlaylistsList',
    props: ['playlists'],

    components: {
      Playlist
    }
  }
</script>