<template>
  <div class="playlists__item">
    <img class="playlists__item-image" :src="playlist.image" :alt="playlist.name" />
    <div class="playlists__item-name">{{ playlist.name }}</div>
  </div>
</template>

<script>
  export default {
    name: 'Playlist',
    props: ['playlist']
  }
</script>