<template>
  <div class="text-center">
    <h1>Please log in with your Spotify account</h1>
    <a class="button button-large login__button" :href="SPOTIFY_LOGIN_URL">Log In</a>
  </div>
</template>

<script>
  import { SPOTIFY_LOGIN_URL } from '../settings';

  export default {
    data() {
      return {
        SPOTIFY_LOGIN_URL
      }
    }
  }
</script>