<template>
  <aside class='menu'>
    <div class='menu__logo'>
      <img src='/icon.png' class="full-width" alt="Vuetify logo" />
      <br/>
      <h3 class="text-center">Vuetify</h3>
    </div>
    <nav v-if="isLoggedIn" class='menu__nav text-center'>
      <router-link
          class="menu__link"
          active-class="menu__link--active"
          :to="searchTo"
          isActive={this.isSearchLinkActive}
      >
        <i class="material-icons">search</i>
        <br/>
        Search
      </router-link>
      <router-link exact class="menu__link" active-class="menu__link--active" :to="{ name: 'home' }">
        <i class="material-icons">play_circle_filled</i>
        <br/>
        Now Playing
      </router-link>
      <router-link exact class="menu__link" active-class="menu__link--active" :to="{ name: 'playlists' }">
        <i class="material-icons">queue_music</i>
        <br/>
        My Playlists
      </router-link>
    </nav>
    <nav v-else class='menu__nav text-center'>
      <a class="menu__link" :href="SPOTIFY_LOGIN_URL">
        <i class="material-icons">exit_to_app</i>
        <br/>
        Log In
      </a>
    </nav>
  </aside>
</template>

<script>
  import { SPOTIFY_LOGIN_URL } from '../settings';

  export default {
    props: [
      'isLoggedIn',
      'searchQuery'
    ],

    data() {
      return {
        SPOTIFY_LOGIN_URL
      };
    },

    computed: {
      searchTo() {
        const result = { name: 'search' };
        if (this.searchQuery) {
          result.query = {
            query: this.searchQuery
          };
        }
        return result;
      }
    }
  }
</script>
