<template>
  <div v-if="track" class="player__window">
    <div :class="{ 'player__image-container hidden-xs': true, 'hidden': !isExpanded }">
      <img :src="track.albumImage" :alt="track.name" class="player__image full-width" />
    </div>
    <div class="player__progress">
      <div class="player__progress-active" :style="{ width: `${this.width}%` }"></div>
    </div>
    <div class="player__controls-container">
      <div class="player__control">
        <i class="material-icons" @click="handlePause">
          <slot v-if="isPlaying">pause</slot>
          <slot v-else>play_arrow</slot>
        </i>
      </div>
      <div class="player__summary">
        <div class="player__track-text">{{ track.name }}</div>
        <small class="player__track-text">{{ track.artistName }}</small>
      </div>
      <div class="player__visibility">
        <span class="player__visibility-control hidden-xs" @click="handleExpand">
          <i class="material-icons">
            <slot v-if="isExpanded">expand_more</slot>
            <slot v-else>expand_less</slot>
          </i>
        </span>
        <span class="player__visibility-control" @click="onClose">
          <i class="material-icons">close</i>
        </span>
      </div>
    </div>
    <audio
        ref="audioEl"
        :src="track.preview"
        :autoPlay="true"
        @ended="handleEnded"
        @timeupdate="handleTimeUpdate"
    ></audio>
  </div>
</template>

<script>
  import _ from 'lodash';

  export default {
    name: 'PlayerWidget',

    props: [
      'track',
      'onClose'
    ],

    data() {
      return {
        isPlaying: true,
        isExpanded: true,
        width: 0,
        currentTime: 0
      };
    },

    methods: {
      handleEnded() {
        this.isPlaying = false;
      },

      handleTimeUpdate: _.throttle(function () {
        if (this.$refs.audioEl) {
          const duration = this.$refs.audioEl.duration;
          const currentTime = this.$refs.audioEl.currentTime;
          this.width = (currentTime / duration) * 100;
        }
      }),

      handlePause() {
        this.isPlaying = !this.isPlaying;
        if (this.isPlaying) {
          this.$refs.audioEl.play();
        } else {
          this.$refs.audioEl.pause();
        }
      },

      handleExpand() {
        this.isExpanded = !this.isExpanded;
      }
    }
  }
</script>