.menu {
  width: 100%;
  height: $menu-height-mobile;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: .5rem;
  background-color: $bg-color-alt;
}

.menu__nav {
  width: 100%;
  display: flex;
}

.menu__logo {
  padding: .5rem .75rem .75rem;
  display: none;
}

.menu__link {
  flex-grow: 1;
  font-size: .75rem;
  display: block;

  .material-icons {
    font-size: 1.5rem;
    margin-bottom: .25rem;
  }
}

.menu__link--active {
  color: $primary-color;
}

@media (min-width: $screen-sm-min) {
  .menu {
    display: block;
    width: $menu-width;
    height: auto;
    padding: 1rem;
    top: 0;
  }

  .menu__nav {
    display: block;
  }

  .menu__logo {
    display: block;
  }

  .menu__link {
    padding: 1rem 0;

    .material-icons {
      font-size: 2.5rem;
      margin-bottom: .5rem;
    }
  }
}