.playlists__list {
  margin: 1rem 0;
}

.playlists__item {
  background-color: $bg-color-alt;
  padding: .5rem;
  margin-bottom: .75rem;
  display: flex;
  align-items: center;
  border-left: .25rem $bg-color-accent solid;
  cursor: pointer;
  @include clearfix();
}

.playlists__item-image {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.playlists__item-name {
  width: calc(100% - 4rem);
}

.playlists__summary {
  margin: 1rem auto;
  max-width: 600px;
}

.playlists__search-input {
  background-color: $bg-color-alt;
  border: 1px $bg-color-accent solid;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: $border-radius;
  margin-bottom: .5rem;
  @include placeholder {
    color: $text-color-pale;
  }

  &:focus {
    outline: none;
  }
}

.playlists__modal {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  margin: 0 auto;
  max-width: 600px;
  background-color: $bg-color;
  outline: none;
}

.playlists__modal-inner {
  height: 100%;
}

.playlists__modal-summary {
  position: relative;
  display: flex;
  align-items: center;
  @include clearfix();
}

.playlists__modal-image, .playlists__modal-title {
  padding: 1rem;
}

.playlists__modal-image {
  float: left;
  width: 25%;
}

.playlists__modal-title {
  float: left;
  font-size: 1.25rem;
  width: 75%;
  text-align: center;
}

.playlists__modal-close {
  position: absolute;
  cursor: pointer;
  top: .25rem;
  right: .25rem;

  .material-icons {
    display: block;
  }
}

.playlists__modal-tracks {
  padding: 0 1rem 1rem;
}

.playlists__modal-tracks-inner {
  height: 100%;
  overflow: auto;
}

.playlists__modal-track {
  background-color: $bg-color-alt;
  padding: .5rem;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  @include clearfix();
}

.playlists__modal-track-image {
  display: block;
}

.playlists__modal-track-image-container {
  float: left;
  width: 3rem;
}

.playlists__modal-track-name {
  float: left;
  margin: 0 1rem;
  width: calc(100% - 8rem);
}

.playlists__modal-track-controls {
  float: left;
  width: 3rem;
  text-align: right;
}

.playlists__modal-track-control {
  cursor: pointer;

  .material-icons {
    vertical-align: top;
  }

  &.playlists__modal-track-control--disabled {
    cursor: default;
    color: $text-color-pale;
  }
}

@media (min-width: $screen-md-min) {
  .playlists__summary {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .playlists__search-input {
    margin-bottom: 1rem;
  }

  .playlists__list {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}