.search__form {
  position: relative;
  margin-bottom: 1rem;
}

.search__total {
  margin-bottom: 1rem;
  text-align: center;
}

.search__form-input {
  background-color: $bg-color-alt;
  border: 1px $bg-color-accent solid;
  width: 100%;
  font-size: 1.25rem;
  padding: .75rem 4.5rem 0.75rem 1.5rem;
  border-radius: $border-radius;
  @include placeholder {
    color: $text-color-pale;
  }

  &:focus {
    outline: none;
    box-shadow: 0 3px 10px 1px $bg-color-accent;
  }
}

.search__form-submit {
  background: none;
  border: none;
  color: $text-color-pale;
  position: absolute;
  right: .75rem;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;

  .material-icons {
    font-size: 2rem;
  }

  &:focus {
    outline: none;
  }
}

.search__results-list {
  @include clearfix;
  margin: 0 -.5rem;
}

.search__result {
  padding: 0 .5rem 1rem;
  float: left;
  width: 50%;
}

.search__result-inner {
  position: relative;
  background-size: cover;
  background-position: center;
  padding-top: 100%;
}

.search__result-summary, .search__result-controls {
  background-color: rgba(0, 0, 0, .8);
  position: absolute;
  left: 0;
  width: 100%;
  padding: .5rem;
}

.search__result-summary {
  bottom: 0;
}

.search__result-controls {
  top: 0;
}

.search__result-control {
  cursor: pointer;

  .material-icons {
    font-size: 1.25rem;
  }

  &.search__result-control--disabled {
    cursor: default;
    color: $text-color-pale;
  }
}

.search__result-name, .search__result-artist-name, .search__result-album-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: $screen-md-min) {
  .search__results-list {
    margin: 0 -1rem;
  }

  .search__form, .search__total {
    margin-bottom: 2rem;
  }

  .search__result {
    padding: 0 1rem 2rem;
    width: 33.3333%;
  }
}

@media (min-width: $screen-lg-min) {
  .search__result {
    width: 25%;
  }
}

@media (min-width: $screen-xl-min) {
  .search__result {
    width: 16.6666%;
  }
}