.full-width {
  width: 100%;
}

small {
  color: $text-color-pale;
  font-size: .75em;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  @include clearfix();
}

.hidden {
  display: none !important;
}

@media (max-width: $screen-xs-max) {
  .hidden-xs {
    display: none !important;
  }
}