<template>
  <div>
    <SearchQueryForm
        :query="query"
        :on-search-query-submit="onSearchQuerySubmit"
    />
    <div class="search__total">
      <h3 v-if="total">{{ total }} tracks found</h3>
      <h3 v-else-if="total === 0">No tracks found :(</h3>
      <h2 v-else>Search for your favorite music</h2>
    </div>
    <SearchResultsList
        :results="results"
        :on-listen-preview="onListenPreview"
    />
    <div v-if="next" class="search__next text-center">
      <button class="button" @click="onShowMore(next)">Show more</button>
    </div>
  </div>
</template>

<script>
  import SearchQueryForm from './QueryForm';
  import SearchResultsList from './ResultsList';

  export default {
    name: 'Page',
    props: [
      'query',
      'results',
      'total',
      'next',
      'onSearchQuerySubmit',
      'onShowMore',
      'onListenPreview'
    ],

    components: {
      SearchQueryForm,
      SearchResultsList
    }
  }
</script>

<style scoped>

</style>