<template>
  <form
      class="search__form"
      @submit.prevent="onSearchQuerySubmit(currentQuery)"
  >
    <input
        v-model="currentQuery"
        class="search__form-input"
        placeholder="Search..."
    />
    <button type="submit" class="search__form-submit">
      <i class="material-icons">search</i>
    </button>
  </form>
</template>

<script>
  export default {
    name: 'QueryForm',
    props: [
      'query',
      'onSearchQuerySubmit'
    ],

    data() {
      return {
        currentQuery: this.query
      };
    },

    watch: {
      query(val) {
        this.currentQuery = val;
      }
    }
  }
</script>