<template>
  <div class="search__results-list">
    <SearchResult
        v-for="track in results"
        :key="track.id"
        :track="track"
        :on-listen-preview="onListenPreview"
    />
  </div>
</template>

<script>
  import SearchResult from './Result';

  export default {
    name: 'SearchResultsList',
    props: [
      'results',
      'onListenPreview'
    ],

    components: {
      SearchResult
    }
  }
</script>