<template>
  <div class="search__result">
    <div
        class="search__result-inner"
        :style="{ backgroundImage: `url(${track.albumImage})` }"
    >
      <div class="search__result-controls">
        <span
            :class="{ 'search__result-control': true, 'search__result-control--disabled': !hasPreview }"
            @click="handleListenPreview"
        >
          <i class="material-icons">audiotrack</i>
        </span>
      </div>
      <div class="search__result-summary">
        <div class="search__result-name" :title="track.name">
          {{ track.name }}
        </div>
        <div class="search__result-artist-name" :title="track.artistName">
          <small>{{ track.artistName }}</small>
        </div>
        <div class="search__result-album-name" :title="track.albumName">
          <small>{{ track.albumName }}</small>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SearchResult',
    props: [
      'track',
      'onListenPreview'
    ],

    computed: {
      hasPreview() {
        return Boolean(this.track && this.track.preview);
      }
    },

    methods: {
      handleListenPreview() {
        if (this.hasPreview) {
          this.onListenPreview(this.track);
        }
      }
    }
  }
</script>